html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: #F6F5F5;
}

.container {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
}

#fullscreen {
    width: 100%;
    height: 80%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 10%;
    z-index: 9999;
}

#fullscreen .grid-row {
    height: 12.5%;
}

#fullscreen #action .column {
    padding:0px 80px 20px;
}

.grid {
    width: 12.5%;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.06);
    position: relative;
}

.grid:first-child {
    margin-left: 10px;
}

.grid .component {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 20px;
}

.grid .component.active {
    box-shadow: 0px 0px 5px 0px rgba(26, 26, 26, 1);
    z-index: 99;
}

.grid .component.active .handle, .grid .component.active .menu {
    opacity: 1;
}

.grid .component .handle, .grid .component .menu {
    opacity: 0;
}

.component.width-1 { width: 100%; }
.component.width-2 { width: 200%; }
.component.width-3 { width: 300%; }
.component.width-4 { width: 400%; }
.component.width-5 { width: 500%; }
.component.width-6 { width: 600%; }
.component.width-7 { width: 700%; }
.component.width-8 { width: 800%; }

.component.height-1 { height: 100%; }
.component.height-2 { height: 200%; }
.component.height-3 { height: 300%; }
.component.height-4 { height: 400%; }
.component.height-5 { height: 500%; }
.component.height-6 { height: 600%; }
.component.height-7 { height: 700%; }
.component.height-8 { height: 800%; }

.component .menu {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0px;
    left: 100%;
    margin-left: -25px;
}

.component .menu .button {
    border: none;
}

.component h4.label {
    position: absolute;
    top: 10px;
    padding: 1px 20px;
    top: 10px;
    left: 0;
}

.handle {
    width: 8px;
    height: 8px;
    border: 1px solid #979797;
    background: #FFF;
    position: absolute;
}

.handle.handle-top {
    top: 0;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
}
.handle.handle-right {
    top: 50%;
    left: 100%;
    margin-top: -4px;
    margin-left: -4px;
}
.handle.handle-bottom {
    top: 100%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
}
.handle.handle-left {
    top: 50%;
    left: 0%;
    margin-top: -4px;
    margin-left: -4px;
}

#sidebar {
    margin-left: -32px;
    background: #3A3A3A;
    width: 232px;
    -ms-flex: 0 100px;
    -webkit-box-flex:  0;
    -moz-box-flex:  0;
    -ms-box-flex:  0;
    box-flex:  0;
    z-index: 2;
    position: relative;
}

#sidebar.deactivate {
    background: none;
}

#main {
    height: 100%;
    overflow-y: scroll;
    overflow: hidden;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;  
}

#main.home {
    display:none;
}

#nav-status {
    padding: 10px 20px;
    font-size: 0.9em;
}

#search {
    background: #FFF;
    padding-bottom: 0px;
    width: 100%;
}

#search.is-navigate {
    background: #1A1A1A;
}

#search .control.has-icons-left {
    width: 100%;
}

#search .control.has-icons-left .icon, #search .control.has-icons-right .icon {
    color: #1A1A1A;
}
#search .control.has-icons-right .icon {
    margin-right: 12px;
}

#search .control.has-icons-right .icon {
    margin-left: 4px;
}

#search .control .button {
    margin-right: 4px;
}

#search .input {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 0px;
    background: none;
    padding-right: 16px;
    box-shadow: none;
}

#search.active {
    box-shadow: 0 2px 3px -3px black;
    margin-right: 20px;
}

#search .is-right, #search .button {
    opacity: 0;
}

#search .button {
    opacity: 0;
}

#search.is-navigate .button {
    opacity: 1
}

#search.is-navigate .is-right, #search.active .is-right {
    opacity: 1;
}

#search .control {
    padding-right: 6px;
}

#search-navigation {
    position: fixed;
    left: 254px;
    top: 6px;
    font-size: 1.2em;
    opacity: 0;
    color: #FEFEFE;
}

#search .fa {
    font-size:1em;
}

#search.is-navigate #search-navigation {
    opacity: 1;
}

#search.is-navigate .is-right {
    color: #63ABFF !important;
}

#search .is-left {
    opacity: 1;
}

#search.is-navigate .is-left {
    opacity: 0;
}

#talk {
    background: #FEFEFE;
    width: 40px; height: 40px;
    position: fixed;
    top: 0; right: 0;
    z-index: 999;
    color: #386EBE;
}

#talk span {
    padding: 15px 15px 0 0;
}

#brands {
    height: 40px;
    background: #171717;
    padding: 0px 20px;
}

.nav-item {
    color: #FFF;
    padding: 8px 15px;
    margin: 0px !important;
}

.nav-item.is-active {
    background: #F6F5F5;
    color: #1A1A1A;
}

#content {
    background: #FEFEFE;
    min-height: 90%;
    height: auto;
    margin: 20px;
    padding: 10px 20px 20px;
}

#content-nav {
    font-size: 0.7em;
    padding: 0px;
    margin: 2px 0 0 -8px;
    height: 30px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: blue;
    fill: red;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.shadow {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06) !important;
}

.button {
    border-radius: 0 !important;
}

