#brands {
    background: #386EBE;
}

.is-red {
    background-color: #D04302;
}
.is-red-text {
    color: #D04302 !important;
}
.is-shade {
    background-color: #595A5A;
}
.is-yellow {
    background-color: #F9D759;
}
.is-yellow-text {
    color: #F9D759;
}
.is-green {
    background-color: #64BB49;
}
.is-green-text {
    color: #64BB49;
}
.is-hyperlink {
    background-color: #63ABFF;
}
.is-dark {
    background-color: #1A1A1A;
}
.is-gray {
    background-color: #787878;
}
.is-light {
    background-color: #FEFEFE;
}
.is-dark-text {
    color: #1A1A1A !important;
}
.is-gray-text {
    color: #787878 !important;
}
.is-light-text {
    color: #FEFEFE !important;
}

.button.is-red {
    color: #FFF;
    border: none;
}

.button.is-yellow {
    background-color: #F9D759;
    color: #FFF;
    border: none;
}

.button.is-green {
    background-color: #64BB49;
    color: #FFF;
    border: none;
}

.button.is-hyperlink {
    background-color: #63ABFF;
    color: #FFF;
    border: none;
}

.button.is-special {
    color: #63ABFF;
    background: #FEFEFE;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}

.button.is-transparent {
    background: none;
    border: none;
    color: #FFF;
}

.button.is-text-hyperlink {
    background: none;
    color: #63ABFF;
    border: none;
}

.button.is-text-dark {
    background: none;
    color: #1A1A1A;
    border: none;
}
